<!-- Banner -->

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="banner_item align-items-center" style="background-image:url(../../../../assets/color_shop/images/banner_1.jpg)">
                    <div class="banner_category">
                        <a href="product">Thời trang nữ</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="banner_item align-items-center" style="background-image:url(../../../../assets/color_shop/images/banner_2.jpg)">
                    <div class="banner_category">
                        <a href="product">Phụ kiện</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="banner_item align-items-center" style="background-image:url(../../../../assets/color_shop/images/banner_3.jpg)">
                    <div class="banner_category">
                        <a href="product">Thời trang nam</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>