<nb-card class="col-sm-8 col-md-8 col-xs-8 col-lg-8">
    <nb-card-header class="nb-card-header">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
          <h6 class="title-header" style="text-transform: uppercase;">Sản phẩm yêu thích</h6>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
          <div class="input-group">
            <ngx-btn-add data-toggle="tooltip" title="Thêm mới" (click)="openCreateDialog()"></ngx-btn-add>&nbsp;&nbsp;
            <input type="text" class="form-control" placeholder="Nhập nội dung tìm kiếm" name="seach">&nbsp;&nbsp;
            <ngx-btn-search></ngx-btn-search>
          </div>
        </div>
      </div>
      <br>
      <div class="row" style="overflow: auto;">
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th class="text-center align-middle" style="width: 50px;">STT</th>
                <th class="text-center align-middle" style="min-width: 50px;">Tên người dùng</th>
                <th class="text-center align-middle" style="min-width: 50px;">Tên sản phẩm</th>
                <th class="text-center align-middle" style="min-width: 100px;">Hành động</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of target;let i = index">
                <td class="text-center align-middle">{{ i + 1 }}</td>
                <td class="align-middle">{{ item.userId }}</td>
                <td class="align-middle">{{ item.productId }}</td>
                <td class="text-center align-middle">
                  <ngx-icon-info title="Xem chi tiết" style="cursor: pointer;" (click)="openDetailDialog(item.favoriteId)"></ngx-icon-info>&nbsp;&nbsp;
                  <ngx-icon-edit title="Cập nhật" style="cursor: pointer;" (click)="openEditDialog(item.favoriteId)"></ngx-icon-edit>&nbsp;&nbsp;
                  <ngx-icon-delete title="Xóa" style="cursor: pointer;" (click)="openDeleteDialog(item.favoriteId, item.userId)"></ngx-icon-delete>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
            <div style="float: left;">
                Tổng số bản ghi:
            </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8">
            <div style="float: right;">
                <ngx-pagination>
                </ngx-pagination>
            </div>
        </div>
    </div>
    </nb-card-footer>
</nb-card>
  