<nb-card>
  <nb-card-header class="bg-info">
    <div class="row">
      <label class="h4 text-uppercase text-white font-weight-bold">Thông tin người dùng</label>
    </div>
  </nb-card-header>
  <nb-card-body>
    <section style="background-color: #eee;">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-4">
            <div class="card mb-4">
              <div class="card-body text-center">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                  alt="avatar"
                  class="rounded-circle img-fluid"
                  style="width: 150px;"
                />
                <h5 class="my-3">{{ target.fullName }}</h5>
                <div class="d-flex justify-content-center mb-2">
                  <button type="button" class="btn btn-outline-primary ms-1">
                    Thông tin người dùng
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="card mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Tên tài khoản</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ target.userName }}</p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Mật khẩu</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ target.password }}</p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Họ và tên</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ target.fullName }}</p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Giới tính</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ target.gender == 1 ? 'Nam':'Nữ' }}</p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Email</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ target.email }}</p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Số điện thoại</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ target.phoneNumber }}</p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Địa chỉ</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ target.address }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>  
  </nb-card-body>
</nb-card>