<form #frm="ngForm" (ngSubmit)="save()">
    <nb-card>
        <nb-card-header class="nb-card-header">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                    <label *ngIf="dataRef.actionType === statusAction.create">Thêm mới {{ title }}</label>
                    <label *ngIf="dataRef.actionType === statusAction.edit">Cập nhật {{ title }}</label>
                    <label *ngIf="dataRef.actionType === statusAction.detail">Chi tiết {{ title }}</label>
                </div>
            </div>
        </nb-card-header>
        <nb-card-body>
            <div class="row">
                <div class="col-sm-5 col-md-5 col-xs-5 col-lg-5">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                            <img [src]="target.image" alt="" style="width:100%;height:285px;border:solid 2px silver" 
                                id="image" *ngIf="target.image">
                            <img src="../../../../../../assets//images//kate.png" alt=""
                                style="width:100%;height:285px;border:solid 2px silver" 
                                id="image" *ngIf="!target.image">
                        </div>
                        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12" *ngIf="dataRef.actionType !== statusAction.detail">
                            <div class="input-group">
                                <input type="file" class="form-control" id="loadimage" (change)="handleUpload($event)" />&nbsp;
                                <div style="display: flex; justify-content: center; align-items: center;">
                                    <ngx-icon-delete title="Xóa ảnh" style="cursor: pointer;" (click)="DeleteImg()"></ngx-icon-delete>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 col-md-7 col-xs-7 col-lg-7">
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label required">Người tạo</label>
                            <input type="text" class="form-control" [(ngModel)]="target.createdBy" name="createdBy"
                                #createdBy="ngModel" maxlength="200" required
                                [disabled]="dataRef.actionType === statusAction.detail" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label required">Mô tả tiêu đề</label>
                            <input type="text" class="form-control" name="description"
                                [(ngModel)]="target.description" #description="ngModel" maxlength="200" required
                                [disabled]="dataRef.actionType === statusAction.detail" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label">Trạng thái </label>
                            <ng-select [items]="listStatus" bindLabel="text" bindValue="value"
                                [(ngModel)]="target.status" #status="ngModel" name="status"
                                [disabled]="dataRef.actionType === statusAction.detail">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label">Đường dẫn ảnh</label>
                            <input type="text" class="form-control" name="link"
                                [(ngModel)]="target.link"
                                #link="ngModel"
                                [disabled]="dataRef.actionType === statusAction.detail"/>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label">Ngày tạo</label>
                            <input type="date" class="form-control" name="createdDate"
                                [(ngModel)]="target.createdDate"
                                #createdDate="ngModel" maxlength="200"
                                [disabled]="dataRef.actionType === statusAction.detail"/>
                        </div>
                    </div>
                </div>
            </div>
        </nb-card-body>
        <nb-card-footer class="text-right">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 text-right">
                    <ngx-btn-submit [disabled]="frm.invalid"
                        *ngIf="dataRef.actionType !== statusAction.detail"></ngx-btn-submit>&nbsp;&nbsp;
                    <ngx-btn-close (click)="closeDialog(true)"></ngx-btn-close>
                </div>
            </div>
        </nb-card-footer>
    </nb-card>
</form>
  