<nb-card class='col-lg-6'>
    <nb-card-header class="nb-card-header">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
          <h6 class="title-header" style="text-transform: uppercase;">Kích thước mẫu sản phẩm</h6>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row mb-2">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                <div class="input-group">
                    <ngx-btn-add data-toggle="tooltip" title="Thêm mới" (click)="openCreateDialog()"></ngx-btn-add>&nbsp;&nbsp;
                    <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Nhập nội dung tìm kiếm" name="seach">&nbsp;&nbsp;
                    <ngx-btn-refresh (click)="resetTextSearch()"></ngx-btn-refresh>
                </div>
            </div>
        </div>
        <div class="row" style="overflow: auto;">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center align-middle" style="width: 50px;">STT</th>
                        <th class="text-center align-middle" style="min-width: 50px;">Mã kích thước</th>
                        <th class="text-center align-middle" style="min-width: 100px;">Tên kích thước</th>
                        <th class="text-center align-middle" style="min-width: 150px;">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of target| filter: searchText| paginate: { itemsPerPage: size, currentPage: p };let i = index">
                        <td class="text-center align-middle">{{ ( p - 1 ) * size + i + 1 }}</td>
                        <td class="align-middle text-center">{{ item.sizeId }}</td>
                        <td class="align-middle text-center">{{ item.sizeName }}</td>
                        <td class="text-center align-middle">
                            <ngx-icon-info title="Xem chi tiết" style="cursor: pointer;" (click)="openDetailDialog(item.sizeId)"></ngx-icon-info>&nbsp;&nbsp;
                            <ngx-icon-edit title="Cập nhật" style="cursor: pointer;" (click)="openEditDialog(item.sizeId)"></ngx-icon-edit>&nbsp;&nbsp;
                            <ngx-icon-delete title="Xóa" style="cursor: pointer;" (click)="openDeleteDialog(item.sizeId, item.sizeName)"></ngx-icon-delete>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <div style="float: right;">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
    </nb-card-footer>
</nb-card>