<form #frm="ngForm" (ngSubmit)="save()">
    <nb-card>
        <nb-card-header class="nb-card-header">
            <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                <label *ngIf="dataRef.actionType === statusAction.create">Thêm mới {{ title }}</label>
                <label *ngIf="dataRef.actionType === statusAction.edit">Cập nhật {{ title }}</label>
                <label *ngIf="dataRef.actionType === statusAction.detail">Chi tiết {{ title }}</label>
            </div>
            </div>
        </nb-card-header>
        <nb-card-body>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label required">Tên danh mục</label>
                            <input type="text" class="form-control" [(ngModel)]="target.name" name="name"
                                #name="ngModel" maxlength="200" required
                                [disabled]="dataRef.actionType === statusAction.detail" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label required">Mô tả tiêu đề</label>
                            <input type="text" class="form-control" name="metaTitle"
                                [(ngModel)]="target.metaTitle" #metaTitle="ngModel" maxlength="200" required
                                [disabled]="dataRef.actionType === statusAction.detail" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label required">Tiêu đề seo</label>
                            <input type="text" class="form-control" name="seoTitle"
                                [(ngModel)]="target.seoTitle"
                                #seoTitle="ngModel" maxlength="200"
                                [disabled]="dataRef.actionType === statusAction.detail" required/>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label required">Từ khóa</label>
                            <input type="text" class="form-control" name="metaKeywords"
                                [(ngModel)]="target.metaKeywords"
                                #metaKeywords="ngModel" maxlength="200"
                                [disabled]="dataRef.actionType === statusAction.detail" required/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label">Người tạo</label>
                            <input type="text" class="form-control" name="createdBy"
                                [(ngModel)]="target.createdBy"
                                #createdBy="ngModel" maxlength="200"
                                [disabled]="dataRef.actionType === statusAction.detail" required/>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label">Ngày tạo</label>
                            <input type="date" class="form-control" [(ngModel)]="target.createdDate" 
                                #createdDate="ngModel" maxlength="250" name="createdDate"
                                [disabled]="dataRef.actionType === statusAction.detail" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label required">Trạng thái</label>
                            <ng-select [items]="listStatus" bindLabel="text" bindValue="value"
                                [(ngModel)]="target.status" #status="ngModel" name="status"
                                [disabled]="dataRef.actionType === statusAction.detail">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label required">Mô tả từ khóa</label>
                            <input type="text" class="form-control" name="metaDescriptions"
                                [(ngModel)]="target.metaDescriptions"
                                #metaDescriptions="ngModel" maxlength="250"
                                [disabled]="dataRef.actionType === statusAction.detail" required="true">
                        </div>
                    </div>
                </div>
            </div>
        </nb-card-body>
        <nb-card-footer class="text-right">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 text-right">
                    <ngx-btn-submit [disabled]="frm.invalid"
                        *ngIf="dataRef.actionType !== statusAction.detail"></ngx-btn-submit>&nbsp;&nbsp;
                    <ngx-btn-close (click)="closeDialog(true)"></ngx-btn-close>
                </div>
            </div>
        </nb-card-footer>
    </nb-card>
</form>
  