<div class="container">
    <div class="container contact_container">
		<!-- Map Container -->

		<div class="row">
			<div class="col">
				<div id="google_map">
					<div class="map_container">
						<div id="map"></div>
					</div>
				</div>
			</div>
		</div>

		<!-- Contact Us -->

		<div class="row">

			<div class="col-lg-6 contact_col">
				<div class="contact_contents">
					<h1>Liên hệ với chúng tôi</h1>
					<p>Bạn có thể liên hệ với chúng tôi, để nhận được phản hồi sớm nhất</p>
					<div>
						<p>(800) 686-6688</p>
						<p>info.deercreative@gmail.com</p>
					</div>
					<div>
						<p>Giờ mở: 7:00 ->> 21:00 mỗi ngày</p>
						<p>Chủ nhật: Đóng cửa</p>
					</div>
				</div>

				<!-- Follow Us -->

				<div class="follow_us_contents">
					<h1>Hãy chọn chúng tôi</h1>
					<!-- Right -->
					<div>
						<a class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="#!" role="button">
						  <i class="fab fa-facebook-f"></i>
						</a>
				
						<!-- Twitter -->
						<a class="btn text-white btn-floating m-1" style="background-color: #55acee;" href="#!" role="button">
						  <i class="fab fa-twitter"></i>
						</a>
				
						<!-- Google -->
						<a class="btn text-white btn-floating m-1" style="background-color: #dd4b39;" href="#!" role="button">
						  <i class="fab fa-google"></i>
						</a>
				
						<!-- Instagram -->
						<a class="btn text-white btn-floating m-1" style="background-color: #ac2bac;" href="#!" role="button">
						  <i class="fab fa-instagram"></i>
						</a>
				
						<!-- Linkedin -->
						<a class="btn text-white btn-floating m-1" style="background-color: #0082ca;" href="#!" role="button">
						  <i class="fab fa-linkedin-in"></i>
						</a>
						<!-- Github -->
						<a class="btn text-white btn-floating m-1" style="background-color: #333333;" href="#!" role="button">
						  <i class="fab fa-github"></i>
						</a>
					</div>
					<!-- Right -->
				</div>

			</div>

			<div class="col-lg-6 get_in_touch_col">
				<h1>Góp ý từ người dùng</h1>
				<p>Hãy điền thông tin góp ý của bạn và gửi cho chúng tôi ngay bây giờ.</p>
				<form>
					<!-- Name input -->
					<div class="form-group mb-4">
						<label class="form-label required" for="form4Example1">Họ và tên</label>
					  	<input type="text" id="form4Example1" class="form-control" required/>
					</div>
					<!-- Email input -->
					<div class="form-group mb-4">
						<label class="form-label required" for="form4Example2">Địa chỉ Email</label>
					  	<input type="email" id="form4Example2" class="form-control" required/>
					</div>
				  
					<!-- Message input -->
					<div class="form-group mb-4">
						<label class="form-label required" for="form4Example3">Phản hồi</label>
					  	<textarea class="form-control" id="form4Example3" rows="4" required></textarea>
					</div>
				  
					<!-- Checkbox -->
					<div class="form-check d-flex justify-content-center mb-4">
					  	<input class="form-check-input me-2" type="checkbox" value="" id="form4Example4" checked />
					  	<label class="form-check-label" for="form4Example4">Bạn có chắc chắn phản hồi của mình.</label>
					</div>
				  
					<!-- Submit button -->
					<button type="submit" class="btn btn-primary btn-block mb-4">Gửi</button>
				</form>
			</div>

		</div>
	</div>
</div>