.add_to_cart_button{
    visibility: unset;
    opacity: 1;
}

.single_product_container {
    margin-top: 0;
    padding-bottom: 20px;
}

.tab{
    margin-right: 50px !important;
}

.tab span {
    font-size: 20px;
    font-weight: 600;
}

.add_review {
    margin-top: 0;
}

.tabs_section_container{
    padding-bottom: 45px;
}

.tab_title{
    margin-bottom: 0;
    padding: 10px 0 !important;
}

.tabs_container{
    margin-top: 10px;
    margin-bottom: 10px;
}