.navbar{
    --mdb-navbar-box-shadow: unset;
}

.header{
    position: unset;
}

.main_nav_container{
    box-shadow: unset;
}

ol, ul {
    padding-left: 0 !important;
}

.currency_selection, .language_selection, .account_selection{
    z-index: 999;
}

.account_selection li{
    width: 100%;
}