<form #frm="ngForm" (ngSubmit)="save()">
    <nb-card>
        <nb-card-header class="nb-card-header">
            <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                <label *ngIf="dataRef.actionType === statusAction.create">Thêm mới {{ title }}</label>
                <label *ngIf="dataRef.actionType === statusAction.edit">Cập nhật {{ title }}</label>
                <label *ngIf="dataRef.actionType === statusAction.detail">Chi tiết {{ title }}</label>
            </div>
            </div>
        </nb-card-header>
        <nb-card-body>
            <div class="row">
                image,more Image
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 d-flex p-0">
                        <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                            <div class="form-group">
                                <label class="control-label required">Tên danh mục sản phẩm</label>
                                <ng-select [items]="listCategoryId" bindLabel="name" bindValue="categoryId"
                                    name="categoryId" #categoryId="ngModel" [(ngModel)]="target.categoryId"
                                    [disabled]="dataRef.actionType === statusAction.detail" required
                                >
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                            <div class="form-group">
                                <label class="control-label required">Mã sản phẩm</label>
                                <input type="text" class="form-control" name="productCode"
                                    [(ngModel)]="target.productCode" #productCode="ngModel" maxlength="200" required
                                    [disabled]="dataRef.actionType === statusAction.detail" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label required">Tiêu đề</label>
                            <input type="text" class="form-control" name="metaTitle"
                                [(ngModel)]="target.metaTitle"
                                #metaTitle="ngModel" maxlength="200"
                                [disabled]="dataRef.actionType === statusAction.detail" required/>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label required">Người tạo</label>
                            <input type="text" class="form-control" name="createdBy"
                                [(ngModel)]="target.createdBy"
                                #createdBy="ngModel" maxlength="200"
                                [disabled]="dataRef.actionType === statusAction.detail" required/>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 d-flex p-0">
                        <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                            <div class="form-group">
                                <label class="control-label required">Giá sản phẩm</label>
                                <input type="number" class="form-control" name="price"
                                    [(ngModel)]="target.price"
                                    #price="ngModel" maxlength="250"
                                    [disabled]="dataRef.actionType === statusAction.detail" required>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                            <div class="form-group">
                                <label class="control-label required">Thuế</label>
                                <input type="number" class="form-control" name="includeVat"
                                    [(ngModel)]="target.includeVat"
                                    #includeVat="ngModel" maxlength="250"
                                    [disabled]="dataRef.actionType === statusAction.detail" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 d-flex p-0">
                        <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                            <div class="form-group">
                                <label class="control-label required">Mô tả từ khóa</label>
                                <input type="text" class="form-control" name="metaKeywords"
                                    [(ngModel)]="target.metaKeywords"
                                    #metaKeywords="ngModel" maxlength="250"
                                    [disabled]="dataRef.actionType === statusAction.detail" required>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                            <div class="form-group">
                                <label class="control-label">Số lượng</label>
                                <input type="number" class="form-control" name="quantity"
                                    [(ngModel)]="target.quantity"
                                    #quantity="ngModel" maxlength="250"
                                    [disabled]="dataRef.actionType === statusAction.detail">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label required">Tên sản phẩm</label>
                            <input type="text" class="form-control" name="productName"
                                    [(ngModel)]="target.productName"
                                    #productName="ngModel" maxlength="250"
                                    [disabled]="dataRef.actionType === statusAction.detail" required>
                        </div>
                    </div>
                    <div class="col-12 d-flex p-0">
                        <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                            <div class="form-group">
                                <label class="control-label required">Kích thước</label>
                                <ng-select [items]="listSizeId" bindLabel="sizeName" bindValue="sizeId"
                                    name="sizeId" #sizeId="ngModel" [(ngModel)]="target.sizeId"
                                    [disabled]="dataRef.actionType === statusAction.detail" required
                                >
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                            <div class="form-group">
                                <label class="control-label required">Trạng thái</label>
                                <ng-select [items]="listStatus" bindLabel="text" bindValue="value"
                                    [(ngModel)]="target.status" #status="ngModel" name="status"
                                    [disabled]="dataRef.actionType === statusAction.detail" required>
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label required">Mô tả sản phẩm</label>
                            <input type="text" class="form-control" name="description"
                                [(ngModel)]="target.description"
                                #description="ngModel" maxlength="250"
                                [disabled]="dataRef.actionType === statusAction.detail" required>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 d-flex p-0">
                        <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                            <div class="form-group">
                                <label class="control-label required">Lượt xem</label>
                                <input type="number" class="form-control" 
                                    [(ngModel)]="target.viewCounts" min="0"
                                    #viewCounts="ngModel" name="viewCounts"
                                    [disabled]="dataRef.actionType === statusAction.detail" required>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                            <div class="form-group">
                                <label class="control-label">Ngày tạo</label>
                                <input type="date" class="form-control" name="createdDate"
                                    [(ngModel)]="target.createdDate"
                                    #createdDate="ngModel" maxlength="250"
                                    [disabled]="dataRef.actionType === statusAction.detail">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 d-flex p-0">
                        <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                            <div class="form-group">
                                <label class="control-label required">Chi tiết</label>
                                <input type="text" class="form-control" name="detail"
                                    [(ngModel)]="target.detail"
                                    #detail="ngModel" maxlength="350"
                                    [disabled]="dataRef.actionType === statusAction.detail" required>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                            <div class="form-group">
                                <label class="control-label">Mô tả chi tiết</label>
                                <input type="text" class="form-control" name="metaDescriptions"
                                    [(ngModel)]="target.metaDescriptions"
                                    #metaDescriptions="ngModel" maxlength="350"
                                    [disabled]="dataRef.actionType === statusAction.detail">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nb-card-body>
        <nb-card-footer class="text-right">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 text-right">
                    <ngx-btn-submit [disabled]="frm.invalid"
                        *ngIf="dataRef.actionType !== statusAction.detail"></ngx-btn-submit>&nbsp;&nbsp;
                    <ngx-btn-close (click)="closeDialog(true)"></ngx-btn-close>
                </div>
            </div>
        </nb-card-footer>
    </nb-card>
</form>
  